@import "../../shared/styles/shared.scss";

@media #{$desktop} {
  .search-container {
    width: 100%;
    height: 60px;
    background-color: $header-background;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .search-form {
      margin: 0 auto;
      display: flex;
      align-items: center;

      .search-input {
        margin-left: 10px;
        padding: 10px;
        width: 700px;
        border-radius: 5px;
        outline: none;
      }

      .search-button {
        border: none;
        outline: none;
        background: $search-btn-color;
        padding: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $white;
        font-weight: 700;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover {
          color: $search-btn-color;
          background-color: $white;
          border: 1px solid $search-btn-color;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        color: $white;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        .logo-letter {
          width: 21px;
          border: 1px solid black;
          padding: 0 5px;
          margin-right: 2px;
          font-weight: bold;
          border-radius: 40%;
          display: flex;
          justify-content: center;
          transition: transform 0.3s ease;
        }

        .logo-text {
          margin-left: 5px;
        }
      }
    }

    .contact-info {
      margin-left: 10px;
      color: $white;
    }

    .liked {
      margin-left: 10px;
      color: $white;
    }
    .shoping-cart {
      margin-left: 20px;
      color: $white;
    }
    .login,
    .logout {
      margin-left: 40px;
      padding: 8px 14px;
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $white;
        color: $header-background;
      }
    }
  }
}

@media #{$tablet} {
  .search-container {
    width: 100%;
    height: 60px;
    background-color: $header-background;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .search-form {
      margin: 0 auto;
      display: flex;
      align-items: center;

      .search-input {
        margin-left: 3px;
        padding: 3px;
        width: 350px;
        border-radius: 5px;
        outline: none;
      }

      .search-button {
        border: none;
        outline: none;
        background: $search-btn-color;
        padding: 4px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
        font-weight: 700;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover {
          color: $search-btn-color;
          background-color: #fff;
          border: 1px solid $search-btn-color;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        .logo-letter {
          width: 15px;
          border: 1px solid black;
          padding: 0 4px;
          margin-right: 2px;
          font-weight: bold;
          border-radius: 40%;
          display: flex;
          justify-content: center;
          transition: transform 0.3s ease;
        }

        .logo-text {
          margin-left: 2.5px;
        }
      }
    }

    .contact-info {
      margin-left: 4px;
      color: $white;
    }

    .liked {
      margin-left: 4px;
      color: $white;
    }
    .shoping-cart {
      margin-left: 10px;
      color: $white;
    }
    .login,
    .logout {
      margin-left: 20px;
      padding: 5px 10px;
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $white;
        color: $header-background;
      }
    }
  }
}

@media #{$mobile} {
  .search-container {
    width: 100%;
    height: 60px;
    background-color: $header-background;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .search-form {
      margin: 0 auto;
      display: flex;
      align-items: center;

      .search-input {
        margin-left: 4px;
        padding: 3px;
        width: 200px;
        border-radius: 5px;
        outline: none;
      }

      .search-button {
        border: none;
        outline: none;
        background: $search-btn-color;
        padding: 2.5px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: white;
        font-weight: 700;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover {
          color: $search-btn-color;
          background-color: white;
          border: 1px solid $search-btn-color;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        .logo-letter {
          width: 11px;
          border: 1px solid black;
          padding: 0 2.5px;
          margin-right: 1.9px;
          font-weight: bold;
          border-radius: 40%;
          display: flex;
          justify-content: center;
          transition: transform 0.3s ease;
        }

        .logo-text {
          margin-left: 2px;
        }
      }
    }

    .contact-info {
      margin-left: 3px;
      color: $white;
    }

    .liked {
      margin-left: 3.5px;
      color: $white;
    }
    .shoping-cart {
      margin-left: 8px;
      color: $white;
    }
    .login,
    .logout {
      margin-left: 14px;
      padding: 4px 7px;
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $white;
        color: $header-background;
      }
    }
  }
}
