@import "../../../shared/styles/shared.scss";

@media #{$desktop} {
  .about-us {
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      color: #343a40;
      font-size: 36px;
      margin-bottom: 20px;
    }

    h2 {
      color: #495057;
      font-size: 28px;
      margin-bottom: 15px;
    }

    p {
      color: #6c757d;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  }
}

@media #{$tablet} {
  .about-us {
    margin: 28px auto;
    padding: 14px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      color: #343a40;
      font-size: 28px;
      margin-bottom: 15px;
    }

    h2 {
      color: #495057;
      font-size: 20px;
      margin-bottom: 11px;
    }

    p {
      color: #6c757d;
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 16px;
    }
  }
}

@media #{$mobile} {
  .about-us {
    margin: 18px auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      color: #343a40;
      font-size: 20px;
      margin-bottom: 15px;
    }

    h2 {
      color: #495057;
      font-size: 14px;
      margin-bottom: 9px;
    }

    p {
      color: #6c757d;
      font-size: 10px;
      line-height: 1.3;
      margin-bottom: 12px;
    }
  }
}
